@layer base {
  @font-face {
    font-family: "Lato";
    font-weight: 400;
    src: url("assets/fonts/lato-400.ttf") format("truetype");
  }
  @font-face {
    font-family: "Lato";
    font-weight: 300;
    src: url("assets/fonts/lato-300.ttf") format("truetype");
  }
  @font-face {
    font-family: "Cormorant";
    src: url("assets/fonts/cormorant.ttf") format("truetype");
  }
}
